<div class="contacts-wrapper">
    <div class="contact-list" style="width: 260px;border-right: 1px solid #eee;height: 600px">
        <div class="title-wrapper">好友列表</div>
        <div class="search-wrapper">
            <i class="icon-search"></i>
            <input class="search-input" ng-model="search_contacts" style="color: #333" type="text" placeholder="搜索好友" ng-enter="searchContacts()"/>
        </div>
        <ul class="contact-items">
            <li class="contact-item {{contact_index==$index?'active':''}}" ng-click="chatWith(this)" ng-repeat="contact in contacts">
                <div class="avatar-wrapper">
                    <img class="image" ng-src="{{contact.avatar||default_avatar}}" alt=""/>
                </div>
                <div ng-click="addContact(this)">
                    <div class="name">{{contact.username}}</div>
                    <div>
                        <span class="message">{{contact.message}}</span>
                        <span class="time">{{contact.time | date:'yyyy-MM-dd'}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="blog-wrapper" style="width: 320px;text-align: center;">
    <div style="background-color: #fff;height: 600px;">
        <div>
            <img style="border-radius: 100%;margin-top: 30px" width="120" height="120" class="image" ng-src="{{current.avatar||default_avatar}}" alt=""/>
        </div>
        <div style="text-align: left;padding: 15px;font-size: 13px">
            <div class="name" style="font-size: 18px;padding: 10px 0px">{{current.username}}</div>
            <div><span>性别: {{current.sex}}</span></div>
            <div><span>邮箱: {{current.email}}</span></div>
            <div><span>注册时间: {{current.time | date:'yyyy-MM-dd'}}</span></div>
            <div><span>个人说明: {{current.desc}}</span></div>
        </div>
    </div>
</div>
<div class="message-wrapper" style="flex: 1">
    <div style="background-color: #EFF4F8;height: 600px;">
        最近聊天记录
    </div>
</div>
