<div class="contacts-wrapper">
    <div class="contact-list" style="width: 280px;border-right: 1px solid #ddd;height: {{screenH}}px">
        <div class="title-wrapper">好友列表</div>
        <div class="search-wrapper">
            <i class="icon-search"></i>
            <input class="search-input" type="text" placeholder="搜索好友"/>
        </div>
        <ul class="contact-items">
            <li class="contact-item {{contact_index==$index?'active':''}}" ng-click="chatWith(this)" ng-repeat="contact in contacts">
                <div class="avatar-wrapper">
                    <img class="image" src="{{contact.avatar}}" alt=""/>
                </div>
                <div>
                    <div class="name">{{contact.name}}</div>
                    <div>
                        <span class="message">{{contact.message}}</span>
                        <span class="time">{{contact.time}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="message-wrapper">
    <div style="width: 800px;background-color: #EFF4F8;height: {{screenH}}px;box-shadow:-1px 1px 5px 2px #D6E0E4">

    </div>
</div>