<div class="contacts-wrapper">
    <div class="contact-list" style="width: 280px;border-right: 1px solid #ddd;height: {{pageH}}px">
        <div class="title-wrapper">好友列表</div>
        <div class="search-wrapper">
            <i class="icon-search"></i>
            <input class="search-input" type="text" placeholder="搜索好友"/>
        </div>
        <ul class="contact-items">
            <li class="contact-item {{contact_index==$index?'active':''}}" ng-click="chatWith(this)" ng-repeat="contact in contacts">
                <div class="avatar-wrapper">
                    <img class="image" src="{{contact.avatar}}" alt=""/>
                </div>
                <div>
                    <div class="name">{{contact.username}}</div>
                    <div>
                        <span class="message">{{contact.message}}</span>
                        <span class="time">{{contact.time | date:'yyyy-MM-dd'}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="blog-wrapper" style="flex: 1">
    <div style="background-color: #EFF4F8;height: {{pageH}}px;">
        <div class="blog-item" style="text-align: center;padding-top: 30px">
            <img style="border-radius: 100%" width="120" height="120" class="image" src="{{current.avatar}}" alt=""/>
            <div class="name" style="font-size: 18px;padding: 10px">{{current.username}}</div>
            <div class="name" style="font-size: 18px;padding: 10px">{{current.desc}}</div>
        </div>
    </div>
</div>