<!DOCTYPE html>
<html ng-app="chat">
<head lang="en">
    <meta charset="UTF-8">
    <title>聊天</title>
</head>
<body>
<h1>聊天页面</h1>
<div>
    <ul>
        <li><a href="#/recently/">最近聊天</a></li>
        <li><a href="#/contacts/">联系人</a></li>
        <li><a href="#/settings/">设置</a></li>
    </ul>
    <div ng-view="">

    </div>

</div>
<script type="text/javascript" src="../angularjs/angular.min.js"></script>
<script type="text/javascript" src="../angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="../js/chat.js"></script>
<script type="text/javascript" src="../js/socket.io.min.js"></script>
<script type="text/javascript">
    var socket = io('http://127.0.0.1:3000');
    socket.on('connect', function(){
        alert("dddd")
    });
    socket.on('event', function(data){});
    socket.on('disconnect', function(){});

</script>


</body>
</html>