<div style="height: {{pageH}}px;width: 100%">
    <div class="login-form">
        <div class="input-wrapper">
            <input class="input-item" ng-model="username" type="text" placeholder="用户名">
        </div>
        <div class="input-wrapper">
            <input class="input-item" ng-model="password" type="text" placeholder="密码">
        </div>
        <div class="footer-wrapper">
            <span class="chat-btn" ng-click="login()">开始聊天</span>
        </div>
        <div style="font-size: 12px;color: rgba(255,255,255,0.75);text-align: center">
            还没有账号？点击<a style="color: #fff;text-decoration: none;padding: 0px 5px;font-size: 14px;font-weight: lighter" href="#/register/"> 注册账号 </a>
        </div>
    </div>
</div>
