<div class="contacts-wrapper">
    <div class="contact-list" style="width: 260px;border-right: 1px solid #ddd;height: {{pageH}}px">
        <div class="title-wrapper">最近聊天</div>
        <ul class="contact-items">
            <li class="contact-item {{contact_index==$index?'active':''}}" ng-click="chatWith(this)" ng-repeat="contact in contacts">
                <div class="avatar-wrapper">
                    <img class="image" src="{{contact.avatar}}" alt=""/>
                </div>
                <div>
                    <div class="name">{{contact.username}}</div>
                    <div>
                        <span class="message">{{contact.message}}</span>
                        <span class="time">{{contact.time | date:'HH:mm'}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="message-wrapper" style="flex: 1">
    <div style="background-color: #EFF4F8;height: {{pageH}}px;">
        <div class="message-title">
            <img class="image" src="{{current.avatar}}" alt=""/>
            <div class="name">{{current.username}}</div>
        </div>
        <div class="message-content" style="height: {{pageH-110}}px;overflow-y: scroll">
            <div class="message-item message-{{uid==message.to?'left':'right'}}" ng-repeat="message in message_list">
                <div class="image">
                    <img ng-if="uid==message.to" src="{{current.avatar}}" alt="">
                    <img ng-if="uid==message.from" src="{{user.avatar}}" alt="">
                </div>
                <div class="content">{{message.content}}</div>
                <div class="time">{{message.time | date :'HH:mm'}}</div>
            </div>
        </div>
        <div class="message-footer">
            <input class="message-input" ng-model="message" ng-enter="sendMessage()" placeholder="输入消息..." type="text">
            <div class="send-btn" ng-click="sendMessage()">
                <i class="icon-send"></i>
            </div>
        </div>
    </div>
</div>
