<div style="width:100%;background-color:#fff;height: 600px">
    <div class="title-wrapper">我的设置</div>
    <div style="padding: 20px 30px">
        <div>
            <img ng-src="http://img1.2345.com/duoteimg/qqTxImg/2/78d4ee9b26cf134b72e6204fba2415f6.jpg" alt="">
        </div>
        <div class="name" ng-cloak style="font-size: 18px;padding: 10px 0px">{{user.username}}</div>
        <div class="details-item">
            <span>性别：</span>
            <span>{{user.sex||'未设置'}}</span>
        </div>
        <div class="details-item">
            <span>注册时间：</span>
            <span>{{user.time|date:'yyyy-MM-dd'}}</span>
        </div>
        <div class="details-item">
            <span>生日：</span>
            <span>{{user.birthday|date:'yyyy-MM-dd'}}</span>
        </div>
        <div class="details-item">
            <span>邮箱：</span>
            <span>{{user.email}}</span>
        </div>
        <div class="details-item">
            <span>个人说明：</span>
            <span>{{user.note}}</span>
        </div>
        <div style="padding:10px 0px;">
            <a class="btn" ng-click="logout()">退出登录</a>
        </div>
    </div>
</div>
       
