body{
    background-color: #fff;
}
.chat_wrapper{
    display: flex;
}
.page-wrapper{
    display: flex;
}
.chat_wrapper .left_wrapper{
    background-color: #1c232b;
    color: #fff;
    text-align: center;
    width: 80px;
}
.avatar{
    margin-top: 20px;
    margin-bottom: 20px;
}
.avatar .image{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.links{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.links .link-item{
    text-align: center;
    padding: 10px 0px;
}
.links .link-item a{
    color: #4d5d6c;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
}
.links .link-item.active a{
    color: #fff;
    background-color: #171e26;
}

.icon-chat{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("imgs/chat.png");
    background-position: 0px 0px;
    background-size: contain;
}
.icon-contacts{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("imgs/contacts.png");
    background-position: 0px 0px;
    background-size: contain;
}
.icon-settings{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("imgs/settings.png");
    background-position: 0px 0px;
    background-size: contain;
}
.icon-search{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url("imgs/search.png");
    background-position: 0px 0px;
    background-size: contain;
    margin: 12px 5px 12px 10px;
    float: left;
}

.icon-send{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url("imgs/send.png");
    background-position: 0px 0px;
    background-size: contain;
}


.links .link-item.active .icon-chat{
    background-image: url("imgs/chat_active.png");
}
.links .link-item.active .icon-contacts{
    background-image: url("imgs/contacts_active.png");
}
.links .link-item.active .icon-settings{
    background-image: url("imgs/settings_active.png");
}
.title-wrapper{
    border-bottom: 1px solid #ebf6fb;
    color: #2d4049;
    padding: 25px 15px;
    font-weight: bold;
    font-size: 15px;
}

.contact-items{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.contact-item{
    position: relative;
    padding: 15px 10px 15px 60px;
    border-bottom: 1px solid #ebf6fb;
    border-left: 3px solid #fff;
    cursor: pointer;
}

.contact-item .avatar-wrapper{
    position: absolute;
    display: inline-block;
    width: 44px;
    height: 44px;
    left: 10px;
    top: 10px;

}
.contact-item .avatar-wrapper .image{
    width: 44px;
    height: 44px;
    border-radius: 100%;
}
.contact-item .name{
    color: #37464E;
    font-size: 15px;
}
.contact-item .message{
    color: #B3C1C6;
    font-size: 13px;
    padding: 4px 0px;
    display: inline-block;
}
.contact-item .time{
    color: #B3C1C6;
    font-size: 11px;
    float: right;
    margin: 8px 0px;
}
.contact-item.active{
    background-color: #EFF4F8;
    border-left: 3px solid #3D98D1;
}
.search-wrapper{
    border-bottom: 1px solid #ebf6fb;
}
.search-input{
    border: none;
    box-shadow: none;
    outline: none;
    padding: 15px 0px;
    font-size: 14px;
}

.message-title{
    background-color: #fff;
    padding: 0px 20px 0px 60px;
    position: relative;
    height: 68px;
}
.message-title .image{
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    left: 20px;
    top: 12px;
}
.message-title .name{
    padding: 10px;
    line-height: 50px;
    font-weight: bold;
    font-size: 14px;
}
.message-footer{
    position: relative;
}
.message-footer .message-input{
    width: 96%;
    padding: 10px 2%;
    border: none;
    box-shadow: none;
    outline: none;
    height: 44px;
    font-size: 14px;
}
.message-footer .send-btn{
    display: inline-block;
    position: absolute;
    right: 15px;
    bottom: 10px;
    background-color: #3d98d1;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
    line-height: 55px;
    cursor: pointer;
}